{% extends 'rae/base.html' %}
{% load static %}
{{ wizard.form.media }}


{% block header %}Cześć, tu {{ business_card.name }}, z {{ business_card.company }}{% endblock %}

{% block content %}
    <div class="main-div">
        Proszę, zostaw mi numer kontaktowy, a ja wyślę Ci moją wizytówkę.
    </div>
    <div>
        <div><img src="{{ business_card.photo.url }}" alt="image" class="bc-image"></div>
    </div>

    <div>
        <form action="" method="post" class="form-field">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form.as_p }}
                {% endfor %}
            {% else %}
                {{ wizard.form }}
            {% endif %}

            <input class="button-green" type="submit" value="dalej">
        </form>
    </div>
{% endblock %}
